<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about paintball-content">
    <h2>Paintball</h2>
    <hr>
    <p><div id="pb_text_1">I used to play the sport of paintball on a professional level.
      <a href="https://en.wikipedia.org/wiki/Paintball">Paintball</a> is a fun game of capture the
      flag using markers to tag your opponents and eliminate them from the game.
    </div></p>
    <p><div id="pb_text_2">After playing the sport competitively for a few years, I decided to
      start developing my own equipment because the markers were unreliable and prone to exploding
      paintballs inside the barrel. My hands-on knowledge of the game allowed me to develop some
      great ideas and then test them out over time. After many long hours of development, I came
      up with FreeFlow Technology. This is a system that pneumatically loaded a paintball with low
      force using a separate regulator attached to the marker. It was very successful and implemented
      by many other teams and companies over a period of 7 - 8 years until an electronic oscilating
      ball sensing system was developed. Even today many paintball markers employ this secondary
      regulator to move the bolt at a different pressure than the pressure needed to fire the paintball.
    </div></p>
  </div>
    <div class="col-video paintball-content">
      <h2>Team Lockout</h2>
      <hr>
      <p><div id="pb_text_3">Check out this video of my team Lockout playing in the Dallas open against
      another professional team from Colorado called Avalanche:
      </div>
      <br>
      <div class="embed-container">
        <iframe width="480" height="360" src="https://www.youtube.com/embed/nMnMR8qVRUg?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
      </div>
      </p>
    </div>
  </div>
