<div class="wrapper wrapper_padding clearfix">
  <div class="col-1 about homepage_content">
    <h2>about</h2>
    <hr>
    <p>Hello, my name is Ethan and I'm a software developer currently living in New
      York City. I've always loved creating and building things. </p>
    <p>I’m currently building full stack web applications with SQL and NoSQL
      databases using Ruby, Sinatra, Rails, JavaScript and Ember. Take a
      look around my website and drop me a note if you would like to get in touch.</p>

  </div>
  <div class="col-2 homepage_content">
		<h2>Stuff I've Written</h2>
		<hr>
		<% @posts.each do |post| %>
			<h3><a href="#"><%= link_to post.title, post %></a></h3>
			<p class="date"><%= post.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
	<div class="col-3 homepage_content">
		<h2>Stuff I've Built</h2>
		<hr>
		<% @projects.each do |project| %>
			<h3><a href="#"><%= link_to project.title, project %></a></h3>
			<p class="date"><%= project.created_at.strftime("%A, %b %d") %></p>
		<% end %>
	</div>
</div>
